.outlineBox{
    margin-left: 10px;
    border: 1.5px solid #bec2c8;
    border-radius: 6px;
    padding: 1px 5px;
    display: flex;
    color: #bec2c8;
    justify-content: flex-start;
    font-size: 13px;
  }
.icon{
    padding-bottom: -5px;
}
.text{
    font-size: 13px;
    margin-left: 5px;
    margin-top: -1.5px;
    font-weight: 400;
    align-content: center;
}