.loading {
  font-size: 28px;
  position:absolute;
  left: 50%;
  top: 50%;
  color: #000000; /* Adjust the color as needed */
  padding: 10px;
}

.error {
  font-size: 18px;
  color: #e74c3c; /* Adjust the color as needed */
  padding: 10px;
}
.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
.home .navbar{
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
  }
